    html {
        scroll-behavior: smooth;
    }

    #overlay {
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 999999;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: none;
    }

    .nominal {
        text-align: right;
    }

    .text-grey {
        color: #D8D9CF;
    }

    .text-dark-grey {
        color: #b2b2b2;
    }
    .text-blue-grey {
        color: #57547d;
    }

    .bg-grey {
        background-color: #EDEDED;
        color: #B2B2B2;
    }

    .bg-light-grey {
        background-color: #FAF7F0;
    }

    .text-random {
        color: #425F57;
    }

    .bg-random {
        background-color: #425F57;
    }

    .card-PR:hover {
        background-color: #EDEDED !important;
    }

    .card-hoper:hover {
        background-color: #EDEDED !important;
    }

    .card-PO:hover {
        background-color: #EDEDED !important;
    }

    input.bawahaja {
        outline: 0;
        border-width: 0 0 2px;
        border-color: #00ABB3;
    }

    .select2-selection {
        border: 0px white !important;
    }

    .select2-selection__arrow b {
        display: none !important;
    }

    ul.select2-results__options li {
        font-size: 12px;
    }

    .under-hover:hover {
        text-decoration: underline;
    }
    .small-text {
        font-size: 10px;
    }
    .super-small-text {
        font-size: 9px;
    }
    .super-duper-small-text {
        font-size: 8px;
    }
    .bg-sage {
        background-color: #E5F9DB;
    }

    .text-small {
        font-size: 10px;
    }


    .filter-border {
        border-bottom: 2px solid #27374D;
    }

    .bg-light-blue {
        background-color: #9DB2BF;
    }

    a {
        cursor: pointer;
    }
    
    .hover-effect:hover {
        transform: scale(1.2);
    }
    .formFilter {
        border-radius: 20px;
        width: 200px;
        padding-left: 30px;
        padding: 8px;
        padding-right: 45px;
        font-size: 10px;
    }
    .bg-light-danger{
        background-color: #ffebec !important;
    }
    .dataTables_scrollBody{
        min-height: 200px;
    }
    .text-grey-light{
        color: #666666;
    }
    .bg-grey-light{
        background-color: #666666;
    }
    .bg-success-light{
        background-color: #effaf6 !important;
    }
    .bg-danger-light{
        background-color: #fce7e5 !important;
    }
    .btn-dark-light{
        color: #000;
        background-color: #d9dde2;
        border-color: #d9dde2;
    }
    .has-search .form-control {
        padding-left: 2.375rem;
        border-radius: 20px;
    }

    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.4rem;
        height: 2rem;
        line-height: 2rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
    }
    .bg-outline-orange{
        border: 1px solid #F76400;
        background-color: #fff;
        color: #F76400;
    }
    .bg-outline-primary{
        border: 1px solid #0061f2;
        background-color: #fff;
        color: #0061f2;
    }
    .bg-outline-grey{
        border: 1px solid #a7aeb8;
        background-color: #fff;
        color: #a7aeb8;
    }
    .bg-outline-success{
        border: 1px solid #00ac69;
        background-color: #fff;
        color: #00ac69;
    }
    .bg-outline-dark{
        border: 1px solid #27374D;
        background-color: #fff;
        color: #27374D;
    }
    /* timeline */
    .timeline-steps {
        display: flex;
        justify-content: center;
        flex-wrap: wrap
    }
    
    .timeline-steps .timeline-step {
        align-items: center;
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 1rem
    }
    
    @media (min-width:768px) {
        .timeline-steps .timeline-step:not(:last-child):after {
            content: "";
            display: block;
            border-top: 2px solid #c5c5c5;
            width: 55px;
            position: absolute;
            left: 140px;
            top: 15px
        }
        .timeline-steps .timeline-step:not(:first-child):before {
            content: "";
            display: block;
            border-top: 2px solid #c5c5c5;
            width: 55px;
            position: absolute;
            right: 140px;
            top: 15px
        }
    }
    
    .timeline-steps .timeline-content {
        width: 125px;
        text-align: center
    }
    
    .timeline-steps .timeline-content .inner-circle {
        border-radius: 1.5rem;
        height: 35px;
        width: 35px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border: 2px solid #7c7c7c
    }
    .timeline-steps .timeline-content .inner-circle-success {
        border-radius: 1.5rem;
        height: 35px;
        width: 35px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #00ac69 !important;
        border: 2px solid #00ac69 !important;
    }
    .timeline-steps .timeline-content .inner-circle-danger {
        border-radius: 1.5rem;
        height: 35px;
        width: 35px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #ff6e6e !important;
        border: 2px solid #ff6e6e !important;
    }
    #profileImage {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: rgb(25, 128, 194);
        background: linear-gradient(66deg, rgba(25, 128, 194, 1) 0%, rgba(215, 15, 232, 1) 100%);
        font-size: 15px;
        color: #fff;
        text-align: center;
        padding: 2px;
        line-height: 39px;
        vertical-align: middle;
        margin: 0 auto;
    }
    .border-radius-20 {
        border-radius: 20px;
    }
    .is-select-picker {
        background-color: white !important;
        border: 1px solid #c5ccd6 !important;
        text-align: left !important;
    }

    .is-select-picker {
        border-radius: 20px !important;
        width: 200px !important;
        padding-left: 30px !important;
        padding: 10px !important;
        padding-right: 45px !important;
    }
    .custom-popover {
        width: 200px !important;
    }
    div.dataTables_wrapper div.dataTables_filter input {
        border-radius: 20px;
        width: 200px;
    }
    div.dataTables_wrapper div.dataTables_filter {
        font-size: 0px;
    }